Docs/web2sms.xml

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:Soap_Api_Service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Soap_Api_Service" targetNamespace="urn:Soap_Api_Service">
    <types>
        <xsd:schema targetNamespace="Soap_Api_Service"/>
    </types>
    <portType name="Soap_Api_ServicePort">
        <operation name="sendSmsAuthKey">
            <documentation>Send a SMS using API Key authentication</documentation>
            <input message="tns:sendSmsAuthKeyRequest"/>
            <output message="tns:sendSmsAuthKeyResponse"/>
        </operation>
        <operation name="checkStatus">
            <documentation>Check delivery report status for a SMS</documentation>
                <input message="tns:checkStatusRequest"/>
                <output message="tns:checkStatusResponse"/>
        </operation>
        <operation name="showIp">
            <documentation>Returns the IP of the calling client</documentation>
                <input message="tns:showIpRequest"/>
                <output message="tns:showIpResponse"/>
        </operation>
    </portType>
    <binding name="Soap_Api_ServiceBinding" type="tns:Soap_Api_ServicePort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sendSmsAuthKey">
            <soap:operation soapAction="http://schemas.xmlsoap.org/soap/envelope/#Soap_Api_Service#sendSmsAuthKey"/>
                <input>
                    <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.web2sms.ro/api"/>
                </input>
                <output>
                    <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.web2sms.ro/api"/>
                </output>
        </operation>
        <operation name="checkStatus">
            <soap:operation soapAction="http://schemas.xmlsoap.org/soap/envelope/#Soap_Api_Service#checkStatus"/>
                <input>
                    <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.web2sms.ro/api"/>
                </input>
                <output>
                    <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.web2sms.ro/api"/>
                </output>
        </operation>
        <operation name="showIp">
            <soap:operation soapAction="http://schemas.xmlsoap.org/soap/envelope/#Soap_Api_Service#showIp"/>
                <input>
                    <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://www.web2sms.ro/api"/>
                </input>
                <output>
                    <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://  www.web2sms.ro/api"/>
                </output>
        </operation>
    </binding>
    <service name="Soap_Api_ServiceService">
        <port name="Soap_Api_ServicePort" binding="tns:Soap_Api_ServiceBinding">
            <soap:address location="https://www.web2sms.ro/api"/>
        </port>
    </service>
    <message name="sendSmsAuthKeyRequest">
        <part name="username" type="xsd:string"/>
        <part name="authKey" type="xsd:string"/>
        <part name="sender" type="xsd:string"/>
        <part name="recipient" type="xsd:string"/>
        <part name="message" type="xsd:string"/>
        <part name="scheduleDate" type="xsd:dateTime"/>
        <part name="validity" type="xsd:int"/>
        <part name="callbackUrl" type="xsd:string"/>
        <part name="userData" type="xsd:string"/>
        <part name="visibleMessage" type="xsd:string"/>
    </message>
    <message name="sendSmsAuthKeyResponse">
        <part name="id" type="xsd:string"/>
    </message>
    <message name="checkStatusRequest">
        <part name="messageId" type="xsd:string"/>
    </message>
    <message name="checkStatusResponse">
        <part name="status" type="xsd:string"/>
    </message>
    <message name="showIpRequest"/>
        <message name="showIpResponse">
        <part name="return" type="xsd:string"/>
    </message>
</definitions>